        [package]
name = "litebike"
version = "0.1.0"
edition = "2021"

[lib]
name = "litebike"
path = "src/lib.rs"

# All binaries in src/bin automatically see the library crate `litebike`
# via `use crate::...` when compiled within the same package.

[features]
default = []
auto-discovery = []
upnp = []
doh = ["hickory-resolver"]

# Optional features toggling submodules to keep edge footprint tight
# auto-discovery = []
# upnp = []
# doh = ["hickory-resolver"]

[[bin]]
name = "netutils"
path = "src/bin/netutils.rs"

[[bin]]
name = "litebike_client"
path = "src/bin/litebike_client.rs"

[[bin]]
name = "litebike"
path = "src/bin/litebike.rs"

[[bin]]
name = "p2p_netcat"
path = "src/bin/p2p_netcat.rs"

[dependencies]
tokio = { version = "1", default-features = false, features = ["net", "io-util", "rt-multi-thread", "macros", "time", "sync", "process"] }
log = "0.4"
libc = "0.2"
# async-trait = "0.1"
base64 = { version = "0.22", default-features = false, features = ["alloc"] }
hickory-resolver = { version = "0.24", optional = true, features = ["tokio-runtime"] }
# base32 = "0.5.1"
env_logger = "0.11.8"
rand = { version = "0.8", features = ["std"] }
async-trait = "0.1.88"
lazy_static = "1.4"
mdns-sd = "0.11.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
chrono = "0.4"
igd-next = "0.14"
