        [package]
name = "litebike"
version = "0.1.0"
edition = "2021"

[lib]
name = "litebike"
path = "src/lib.rs"

# All binaries in src/bin automatically see the library crate `litebike`
# via `use crate::...` when compiled within the same package.



[dependencies]
libc = "0.2"
url = "2.2"
