        [package]
name = "litebike"
version = "0.1.0"
edition = "2021"

[lib]
name = "litebike"
path = "src/lib.rs"

# All binaries in src/bin automatically see the library crate `litebike`
# via `use crate::...` when compiled within the same package.



[dependencies]
notify = "6.1.1"
libc = "0.2"
url = "2.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
async-trait = "0.1"

[dev-dependencies]
gag = "1"
tokio = { version = "1", features = ["full"] }
log = "0.4"
base64 = "0.22"
rand = "0.8"
env_logger = "0.11"
